entryPoints:
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

api:
  dashboard: true
  insecure: false  # do NOT use the insecure dashboard

tls:
  certificates:
    - certFile: /certs/cert.pem
      keyFile: /certs/key.pem