entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

api:
  dashboard: true
  insecure: true

providers:
  file:
    filename: /certs/dynamic.yml
    watch: true

tls:
  certificates:
    - certFile: /certs/traefik.crt
      keyFile: /certs/traefik.key
